STORAGE_CONTAINER_NAME='file-upload-test'
STORAGE_ENDPOINT='localhost'
STORAGE_PORT=9000
STORAGE_USE_SSL='false'  # Set to 'true' if you want to use SSL, or 'false' if not.
STORAGE_ACCESS_KEY=your-access-key
STORAGE_SECRET_KEY=your-secret-key
STORAGE_MODE=''

MINIO_USERNAME=minioadmin
MINIO_PASSWORD=minioadmin
MINIO_BUCKETNAME='file-upload-test'